<div class="tweet">
  <header class="tweet__header">
    <%= link_to user_path(tweet.user), class: "tweet-account" do %>
      <img class="tweet-account__avatar" src="">
      <span class="tweet-account__fullname">
        <%= "#{tweet.user.name}" %>
      </span>
      <span class="tweet-account__username">
        <%= "@#{tweet.user.username}" %>
      </span>
    <% end %>
    <small class="tweet__time">
      <%= time_ago_in_words(tweet.created_at) %>
    </small>
  </header>
  <div class="tweet__content">
    <p><%= tweet.body %></p>
  </div>
</div>
